// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//#comment_area {
//  visibility: hidden;
//}

.comment {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px
}

.CodeMirror.cm-s-rubyblue {
  height: 800px
}

.CodeMirror {
  overflow-y: auto;
  overflow-x: scroll;
  width: 1100px;
  height: auto;
  line-height: 1em;
  font-family: monospace;
  _position: relative; /* IE6 hack */
}

#comment_forms {
  margin: 10px
}
