// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {
  font-size: 16px;
}

.new_gist {
  margin: 7px;
}

.no_gists {
  font-size: 24px;
}

.title_gist {
  font-size: 38px;
  vertical-align: middle;
}

.form-inputs {
  margin: 5px;
}

.CodeMirror-linenumber:hover {
  cursor: pointer;
}