// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {
  font-size: 16px;
  margin: 7px;
}

.no_content {
  font-size: 24px;
}

.title_content {
  font-size: 38px;
  vertical-align: middle;
}

.form-inputs {
  margin: 5px;
}

.CodeMirror-linenumber:hover {
  cursor: pointer;
}

.title {
  margin: 10px;
  color: grey;
  text-align: center;
  font-size: 30px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

.private_content {
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  background-color: #7FFFD4;
  vertical-align: middle;
}
